<div class="sign-in-form-container p-4">
  <h2 class="text-left-title text-center mb-4">Get started absolutely free</h2>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <!-- Champ First Name et Last Name -->
    <div class="d-flex gap-3">
      <!-- First Name -->
      <div class="form-group mb-3 floating-label-group flex-grow-1">
        <input type="text" id="firstName" formControlName="first_name" class="form-control floating-input" placeholder=" " required />
        <label for="firstName" class="floating-label">
          <i class="fas fa-user"></i> First Name
        </label>
      </div>

      <!-- Last Name -->
      <div class="form-group mb-3 floating-label-group flex-grow-1">
        <input type="text" id="lastName" formControlName="last_name" class="form-control floating-input" placeholder=" " required />
        <label for="lastName" class="floating-label">Last Name</label>
      </div>
    </div>

    <!-- Champ Email -->
    <div class="form-group mb-3 floating-label-group">
      <input type="email" id="email" formControlName="email" class="form-control floating-input" placeholder=" " required />
      <label for="email" class="floating-label">
        <i class="fas fa-envelope"></i> Email
      </label>
    </div>

    <!-- Champ Numéro de Téléphone -->
    <div class="form-group mb-3 floating-label-group">
      <input type="text" id="phoneNumber" formControlName="phone_number" class="form-control floating-input" placeholder=" " required />
      <label for="phoneNumber" class="floating-label">
        <i class="fas fa-phone"></i> Phone Number
      </label>
    </div>


    <!-- Champ Mot de Passe -->
    <div class="form-group mb-3 floating-label-group">
      <input type="password" id="password" formControlName="password" class="form-control floating-input" placeholder=" " required />
      <label for="password" class="floating-label">
        <i class="fas fa-lock"></i> Password
      </label>
    </div>

    <!-- Champ Confirmation du Mot de Passe -->
    <div class="form-group mb-3 floating-label-group">
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control floating-input" placeholder=" " required />
      <label for="confirmPassword" class="floating-label">
        <i class="fas fa-lock"></i> Confirm Password
      </label>
    </div>

    <p class="agreement-text text-center">
      By signing up, I agree to the
      <a href="#" class="terms-link">Terms of Service</a> and
      <a href="#" class="privacy-link">Privacy Policy</a>.
    </p>

    <!-- Affichage des erreurs -->
    <p *ngIf="errorMessage" class="text-danger text-center">{{ errorMessage }}</p>

    <!-- Bouton d'Inscription -->
    <button type="submit" class="btn custom-btn w-100 mb-3" [disabled]="signUpForm.invalid">Sign up</button>
  </form>

  <br /> <br />
  <!-- Ligne de Séparation -->
  <div class="text-center separator mb-3">
    <div class="line"></div>
    <span class="or-text">Or</span>
    <div class="line"></div>
  </div>

  <!-- Options de Connexion Sociales -->
  <div class="text-center mb-3">
    <p class="continue-with-text">Continue with</p>
    <div class="d-flex justify-content-center gap-4">
      <a [href]="'http://127.0.0.1:8000/api/auth/social/google/?process=login'" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a [href]="'http://127.0.0.1:8000/api/auth/social/apple/?process=login'" class="social-icon">
        <i class="fab fa-apple"></i>
      </a>
      <a [href]="'http://127.0.0.1:8000/api/auth/social/linkedin/?process=login'" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>    
  </div>

  <!-- Lien pour se connecter -->
  <div class="text-center">
    <p>Already have an account? <a [routerLink]="'/sign-in'" class="custom-link text-decoration-none">Sign in</a></p>
  </div>
</div>
