<nav class="header-container">
  <div class="menu-icon">
    <img src="../../../../assets/menu.png" alt="Menu">
  </div>
  <!-- Logo commun -->
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/azday-logo.png" alt="Azday Logo">
    </a>
    </div>
  
  <!-- Menu Desktop -->
  <div class="menu">
    <ul class="menu-list">
      <li><a href="#">Speak with an expert</a></li>
      <li><a routerLink="/add-business">List your business</a></li>
    </ul>
  </div>
  
  <!-- Boutons Desktop -->
  <div class="buttons" *ngIf="!isAuthenticated">
    <button class="btn join" routerLink="/sign-up">Join</button>
    <button class="btn login" routerLink="/sign-in">Log in</button>
  </div>
  
  
  <div class="logout-container" *ngIf="isAuthenticated">
    <button class="btn join" (click)="logout()">Logout</button>
  </div>
  
</nav>
