.home-content {
  position: relative; /* Pour pouvoir positionner les éléments à l’intérieur si besoin */
  display: flex;
  flex-direction: column; /* Dispose les éléments verticalement */
  min-height: 100vh; /* S'assure que le conteneur prend toute la hauteur de l'écran */
  justify-content: space-between; /* Place le footer en bas si le contenu est insuffisant */
}


.recent-sections-wrapper {
  display: flex;
  justify-content: space-between; /* Espace entre les deux blocs */
  align-items: flex-start;        /* Aligner en haut, par exemple */
  width: 80%; /* ou 90%, selon la largeur désirée */
  max-width: 1200px; /* Largeur max, à ajuster */
  margin: 0 auto;    /* Centre horizontalement */
  
  /* Pour "remonter" visuellement le conteneur par-dessus la partie basse de la bannière, 
     vous pouvez utiliser un margin-top négatif si la bannière est haute. Par exemple : */
  margin-top: 90px; /* Ajustez selon la hauteur de votre bannière */
  position: relative; /* Pour s’assurer qu’il soit au-dessus si la bannière a un positionnement particulier */
  z-index: 1;         /* S’il faut qu’il passe par-dessus l’image de fond */
}

.spacer {
  height: 230px; /* Ajustez selon l’espace souhaité */
}

@media (max-width: 768px) {
  .growth-section {
    margin-top: 20px; /* Moins d’espace sur mobile */
  }
  app-recently-viewed {
    display: none;
  }
}

