/* body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .page-container {
    display: flex;
    height: 100vh;
  }
  
  .left-section {
    flex: 1;
    background: #f5f5f5; /* Couleur personnalisable 
  }
  
  .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    background: #eaf4ff; /* Couleur personnalisable 
  }
  */
  @media (max-width: 750px) {
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }