.search-bar-group {
  background: linear-gradient(0deg, rgba(8, 26, 72, 0) 20.93%, #081A48 103.09%),
                url('../../../../assets/culture-background-morocco-arabic-moroccan.png');
  background-size: cover;
  position: relative;
  width: 100%;
  height: 30vh;
  top :76px;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement */
  justify-content: center; /* centre verticalement */
  text-align: center;
  
}

/* Titre */
.search-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 30px;
}

.search-title .highlight {
  color: #97d721; /* Couleur verte */
}

/* Conteneur des barres de recherche */
.search-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

/* Champ de recherche */
.search-input {
  position: relative;
  height: 50px;
  flex: 1;
  max-width: 400px;
  background: #f8f8f8;
  border-radius: 36px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 14.875px;
  line-height: 22px;
  color: #888888;
}

/* Bouton de recherche */
.search-button {
  width: 53px;
  height: 50px;
  background: #97d721;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button i {
  font-size: 20px;
  color: #081a48;
}

/* ----- Media query pour mobile (max-width: 750px) ----- */
@media (max-width: 750px) {
  .search-bar-group {
    height: 90px;
    width: 100%;        /* On réduit la largeur */
    
    
  }

  .search-title {
    display: none; /* si vous voulez cacher le titre sur mobile */
  }

  .search-inputs {
    width: 100%;

    flex-direction: row; /* Les champs se superposent */
    gap: 10px;
  }

  .search-input {
    max-width: 100%;  /* Chaque input prend toute la largeur */
  }

  .search-button {
    width: 50px;
    height: 50px;
    align-self: center;
  }
}