.rounded-container {
    /* Rectangle 8 */

position: absolute;
width: 40%;
height: max-content;
right: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: -20px 2px 60px 12px rgba(0, 0, 0, 0.2);
border-radius: 400px 400px 23px 23px;

padding-bottom: 40px; /* Ajustez la valeur selon vos besoins */


  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligner en haut par défaut */
    align-items: center;
    padding-top: 180px; /* Ajustez cette valeur pour baisser le formulaire */
    height: 100%; /* Prend toute la hauteur du conteneur arrondi */
    width: 100%; /* Prend toute la largeur du conteneur arrondi */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}
@media screen and (max-width: 875px) {
  /* Rectangle 5526 */
  .rounded-container {
    position: absolute;
    width: 85%;
    height: 80%;
    left: 7%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px 15px 250px 250px;
    transform: rotate(180deg);
  }}